<div class="header-section">
    <h2>Add New Company</h2>
    <button (click)="navigateBack()" class="btn btn-back">
        Back to Company List
    </button>
</div>

<form (ngSubmit)="submitForm()" #companyForm="ngForm">
    <input type="text" placeholder="Company Name" [(ngModel)]="companyData.company_name" name="company_name" required>
    <input type="text" placeholder="Tax Number" [(ngModel)]="companyData.tax_number" name="tax_number" required>
    <input type="text" placeholder="Commercial Register" [(ngModel)]="companyData.commercial_register"
        name="commercial_register" required>
    <input type="text" placeholder="Industry" [(ngModel)]="companyData.industry" name="industry">
    <!-- <input type="number" placeholder="User ID" [(ngModel)]="companyData.user_id" name="user_id"> -->
    <!-- <input type="number" placeholder="Plan ID" [(ngModel)]="companyData.plan_id" name="plan_id"> -->
    <button type="submit">Add Company</button>
</form>